<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Seres fantásticos</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h2>Un michi con sombrero lx recibe</h2>
	<h3>Elija dónde ir</h3>
	<%- include('./partials/header') %> 
	<img src="/images/brishito.jpeg" width="40%">
</body>
</html>