<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ranas">Ranas con lentes de sol</a></li>
            <li><a href="/gekos">Geko feliz</a></li>
            <li><a href="/cactus">Cactus con lentes de sol</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>